
 /* Row 2 Numbers */
 div.css-12w0qpk.e1f1d6gn1 {
    background-color: #ffffff;
    border: 1px solid #dfd8d8;
    padding: 1.5% 1.5% 1.5% 1.5%;
    border-radius: 5px;
    border-left: 0.5rem solid #a79ae1 !important;  
}

.alt-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
    
   
}

    